{:paths ["src"] ; where your cljd files are
 :cljd/opts {:kind :flutter
             :main tiltontec.main}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        tensegritics/clojuredart
        {:git/url "git@github.com:tensegritics/ClojureDart.git"
         :sha "47d4b3b18fcdafb7bfc65acf354b9125f791e0e3"
         }
        kennytilton/flutter-mx
        {:git/url "git@github.com:kennytilton/flutter-mx.git"
         :sha "1854355992b5504e03e09912ddfe216b36f82f06"
         }}}
